<div class="users_h1_box"><h1>ユーザー編集画面</h1></div>
<%= render 'form' %>
<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Log in</h2>
  <%= form_with(model: @user, local: true ) do |f| %>
    <form class="login-container">
      <%= f.label "お名前：" %>
      <%= f.text_field :name %>
      <%= f.label "メールアドレス：" %>
      <%= f.text_field :email %>
      <%= f.label "パスワード：" %>
      <%= f.password_field :password %>
      <%= f.label "パスワード確認：" %>
      <%= f.password_field :password_confirmation %>
      <%= f.label "画像" %>
      <% if @user.image.url %>
        <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
      <% end %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.submit "アカウント編集" %>
    </form>
    <% end %>
</div>
<%= link_to "戻る", user_path(@user.id)%>