<div class="users_h1_box"><h1><%= @users.name %>のページ</h1></div>
<p id="notice"><%= notice %></p>

<p>
  <strong>メールアドレス：<%= @users.email %>
</p>

<% if @users.image.url  %>
  <p><%= image_tag @users.image.url %></p>
<% end %>

<%= link_to "アカウント編集", edit_user_path%>
<%= link_to "お気に入り一覧", favorites_path%>
<%= link_to "投稿一覧へ", pictures_path%>